<div class="container mt-4">
    <h2 class="text-center mb-4">📚 Wybierz rozdział</h2>
  
    <div class="row">
      <div class="col-md-4" *ngFor="let chapter of chapters">
        <div class="card shadow-sm chapter-card" (click)="goToLessons(chapter.id)">
          <div class="card-body text-center">
            <h5 class="card-title">{{ chapter.title }}</h5>
            <p class="card-text">{{ chapter.description }}</p>
            <button class="btn btn-primary w-100">Przejdź do lekcji</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="text-center mt-3">
    <button class="btn btn-primary" (click)="backToMenu()"> ☰ Przejdź do menu głównego</button>
  </div>
  