.sidebar {
    height: 100vh;
    padding: 1rem;
    border-right: 1px solid #ddd;
  }
  
  .card {
    margin-top: 20px;
  }
  
  .badge-icon {
    width: 40px;
    height: 40px;
    object-fit: contain;
  }
  